/* Reset de estilo para garantir consistência */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo do currículo */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 2.5em;
    color: #4CAF50;
}

header .subtitulo {
    font-size: 1.2em;
    color: #777;
}

/* Seções */
section {
    margin-bottom: 40px;
}

h2 {
    font-size: 1.8em;
    color: #4CAF50;
    margin-bottom: 10px;
}

/* Estilo para as experiências profissionais */
.experiencia {
    margin-top: 10px;
}

.experiencia h3 {
    font-size: 1.5em;
    color: #333;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 5px;
}

/* Rodapé */
footer {
    text-align: center;
    font-size: 0.9em;
    color: #777;
    margin-top: 40px;
}

footer a {
    text-decoration: none;
    color: #4CAF50;
}

footer a:hover {
    text-decoration: underline;
}
